html {
  font-size: 16px;
}

@font-face {
  font-family: 'Noto Sans Thai UI';
  src: url('https://static.pkn.sh/fonts/NotoSansThai/NotoSansThaiUI-Regular.woff2') format('woff2'), url('https://static.pkn.sh/fonts/NotoSansThai/NotoSansThaiUI-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Thai UI';
  src: url('https://static.pkn.sh/fonts/NotoSansThai/NotoSansThaiUI-Bold.woff2') format('woff2'), url('https://static.pkn.sh/fonts/NotoSansThai/NotoSansThaiUI-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Noto Sans Thai UI', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: #fff;
}

img {
  max-width: 100%;
}

/* dropdown */

.dropdown-menu {
  padding: 8px 16px;
  width: 100%;
}

.dropdown-content {
  min-width: 250px;
  max-height: 80vh;
}

/* add blue waves-effect */

.waves-effect.waves-blue .waves-ripple {
  background-color: rgba(33, 150, 243, .65);
}

/* nav */

nav .brand-logo {
  left: inherit;
  -webkit-transform: inherit;
  transform: inherit;
  margin-left: 16px;
}

nav ul li {
  max-height: 64px;
}

.nav-icon {
  width: 48px;
  height: 48px;
  padding: 10px 0 0 0;
}

span.badge.new {
  font-size: 1em;
  font-weight: normal;
}

.navbar-fixed {
  height: 120px;
}

.nav-extended {
  transition: top .2s ease-in-out;
}

li a.loadradar,
li a.loadtwitter {
  display: block !important;
}

/* tab */

.tabs {
  position: static;
}

.tabs .tab {
  font-size: 1.1em;
  letter-spacing: normal;
}

.indicator {
  display: none;
}

/* main screen */

.block-header {
  font-weight: 700;
  margin: 0;
}

.home-content .new-badge {
  padding: 0 5px;
  font-size: .85em;
}

.service-status-container {
  display: none;
}

.service-status-block {
  padding: .15rem 24px;
  margin: .5rem 0 1rem 0;
}

.service-status-block .service-status-title {
  font-size: 1.25em;
}

.weather-alert-block,
.aqi-open-block {
  cursor: pointer;
}

.weather-alert-block iframe {
  margin-top: .75rem;
  width: 100%;
  height: 0px;
}

.traffic-notice {
  display: none;
}

.animated-radar {
  display: none;
}

.dropdown-content li.imganiold {
  display: none;
}

.animated-radar-button {
  width: auto;
  height: 28px;
  vertical-align: middle;
  margin: 0 .5em .1em 0;
}

.loading {
  margin: 1em 0 0;
}

.loading-text {
  vertical-align: middle;
  margin-right: 8px;
  font-size: 1.2em;
}

.preloader-wrapper.small {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.spinner-blue-only {
  border-color: #2196f3;
}

.status-text {
  font-size: 1.2em;
}

.radar-output {
  margin-bottom: 0;
}

.twitter-block {
  max-width: 760px;
  margin: 0 auto;
}

.btn-go-home {
  font-size: 1.25em;
}

.radar-unit-notice {
  display: none;
  font-size: .85em;
  color: #555;
  padding: 0 .25em;
}

/* aqi */

.aqi-page.navbar-fixed {
  height: 85px;
}

.aqi-header {
  font-size: 2em;
}

.aqi-beta-block {
  font-size: 1.16em;
}

.aqi-container-block {
  text-align: center;
  padding: 0 3px;
}

.aqi-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: space-between;
}

.aqi-display {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 12px 5px;
  border-bottom: 1px solid #fff;
}

.aqi-display:nth-last-child(-n+2) {
  border: 0;
}

.aqi-title {
  font-size: 1em;
  font-weight: 700;
}

@media only screen and (min-width: 870px) {
  .aqi-display {
    flex-basis: 33.333%;
  }

  .aqi-display:nth-last-child(-n+3) {
    border: 0;
  }

  .aqi-title {
    font-size: 1.25em;
  }
}

.aqi-impact {
  padding: 5px 10px;
}

/* modal */

.modal.modal-fixed-footer {
  max-height: 80%;
  height: 80%;
}

.modal .modal-content {
  overflow-x: hidden;
}

.modal[alt="about"] {
  background-color: #2196f3;
}

.modal[alt="about"] .modal-content {
  background-color: #2196f3;
  color: #e3f2fd;
  text-align: center;
}

.modal[alt="about"] .modal-footer {
  background-color: #2196f3;
  border: none;
}

.modal[alt="about"] .modal-footer .btn {
  background-color: #e3f2fd !important;
  color: #212121 !important;
  border: none;
}

.modal[alt="about"] .modal-footer .btn .waves-ripple {
  background-color: rgba(33, 150, 243, .65);
}

.about-credit li a {
  color: #e3f2fd;
}

/* mobile */

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .navbar-fixed {
    height: 105px;
  }

  nav ul li {
    max-height: 56px;
  }

  .nav-icon {
    width: 36px;
    height: 36px;
    padding: 5px 0;
  }

  .brand-logo {
    margin-left: 8px;
  }

  .modal.modal-fixed-footer {
    max-height: 96%;
    height: 96%;
    width: 96%;
    top: 2% !important;
  }

  .dropdown-content {
    width: 100% !important;
    left: 0 !important;
    max-height: 72vh;
  }
}
