/* image */
img {
  max-width: 100%;
}

/* header */
.mdl-layout__header-row {
  padding: 0 18px;
}

/* title */
.mdl-layout-title a {
  color: #fff;
  text-decoration: none;
}

/* title icon */
.mdl-layout-title svg {
  padding-right: 12px;
  width: 28px;
  margin-top: -2px;
}

/* page content */
.page-content {
  padding: 0 5%;
}

.content-center {
  text-align: center;
}

/* dropdown menu */
.mdl-menu a {
  text-decoration: none;
}

.mdl-menu__container.is-upgraded.is-visible {
  top: 64px !important;
}

/* tab bar */
.mdl-tabs__tab-bar {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  overflow-x: scroll;
  background-color: #2196f3;
}

/* tabs */
.mdl-tabs__tab {
  overflow-x: visible;
  min-width: 100px;
  padding: 0;
  color: rgba(255, 255, 255, .7);
}

/* active tab text color */
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: rgba(255, 255, 255, .9);
}

/* active tab line color */
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active::after {
  background: rgb(255, 64, 129);
}

/* wide dropdown menu on mobile */
@media screen and (max-width: 760px) {
  .mdl-menu__container.is-upgraded {
    width: 80% !important;
    top: 64px !important;
    left: 10% !important;
  }

  .mdl-menu,
  .mdl-menu__outline {
    width: 100% !important;
  }
}

/* default dropdown on desktop */
@media screen and (min-width: 760px) {
  .mdl-menu,
  .mdl-menu__outline {
    min-width: 200px;
  }
}

/* show header on mobile */
@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    display: flex;
  }
}

/* status text */
.status-text .mdl-progress {
  margin: 0 auto;
}

.status-text svg {
  margin-top: 16px;
}

/* about page */
.about-page {
  background-color: #2196f3;
  color: #fff;
}

.about-page a {
  color: #fff;
  text-decoration: none;
}

.about-page p {
  margin: 14px 0;
}

.about-credit {
  list-style: none;
  padding: 0;
}
